includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
        - tests/Models/User.php
    tmpDir: build/phpstan
    bootstrapFiles:
        - classAliases.php
